{% extends "base_full.html" %} 
{% block head_title %}Confrim Email {% endblock %}
{% block content %}
<div class="h-screen flex flex-col justify-center items-center">
    <p class="text-center text-lg"><b>{% with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?</b>{% endwith %}</p>
    <div class="text-center mt-8"> 
        <form method="POST" action="{% url 'account_confirm_email' key=confirmation.key %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} class="reg-page" novalidate>
            {% csrf_token %}
            <button type="submit" class="bg-primary w-40 px-4 py-2 text-center font-medium text-white hover:bg-opacity-90 rounded-md">
                Confirm
            </button>
        </form>
       
    </div>
</div>
{% endblock content %}
