{% extends "base.html" %} 
{% block head_title %} Change Password {% endblock %}
{% block content %}
<div class="h-screen flex flex-col justify-center items-center mt-16"> 
    <p class="text-center text-lg"><h2>Change Password </h2></p>
    <div class="text-center mt-8"> 
        <form method="post" action="">
            {% csrf_token %}
           
                {{ form }}
            <button type="submit" class="bg-primary w-40 px-4 py-2 text-center font-medium text-white hover:bg-opacity-90 rounded-md">
               Save
            </button>
        </form>
        
    </div>
</div>
{% endblock content %}
