

{% extends "base_full.html" %} 
{% block head_title %}Password Reset Failed {% endblock %}
{% block content %}
{% url "account_password_reset" as url %}
<div class="h-screen flex flex-col justify-center items-center">
    <p class="text-center text-lg"><b>The password reset link was invalid, possibly because it has already been used.  Please request a new one </b></p>
    <div class="text-center mt-8"> 
        <form method="POST" action="" >
           <a href="{{ url }}"> 
            <button class="bg-primary w-40 px-4 py-2 text-center font-medium text-white hover:bg-opacity-90 rounded-md">
                Resend
            </button>
        </a>
        </form>
       
    </div>
</div>
{% endblock content %}

