{% extends 'base.html' %}
{% load static   %}

{% block head_title %} Generate {% endblock %}
{% block breadcrumb%}
<h2 class="text-title-md2 font-bold text-black dark:text-white">
    Image Gallery
</h2>

<nav>
    <ol class="flex items-center gap-2">
        <li>
            <a class="font-medium" href="index.html">Dashboard /</a>
        </li>
        <li class="font-medium text-primary">Gallery</li>
    </ol>
</nav>
{% endblock%}
{% block content %}

<div class="container mx-auto py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for image in object_list %}
        <div class="bg-white rounded-lg overflow-hidden shadow-md">
           <a href="{% url 'url' image.id %}"><img src= "{{ image.image.url }} " alt="Image 1" class="w-full h-64 object-cover"></a> 
            <!-- <div class="p-6">
                <h3 class="text-lg font-semibold text-gray-800">Image 1</h3>
                <p class="text-sm text-gray-600 mt-2">Description of Image 1.</p>
            </div> -->
        </div>
        {% endfor %}
        
        
    </div>
</div> 
 <div id="editor">

 </div>

<script src="https://cdn.ckbox.io/ckbox/latest/ckbox.js"></script>
<script>
     import { ImageUpload, PictureEditing } from '@ckeditor/ckeditor5-image';
import { CloudServices } from '@ckeditor/ckeditor5-cloud-services';
import { CKBox, CKBoxImageEdit } from "@ckeditor/ckeditor5-ckbox";

import { CKBox } from '@ckeditor/ckeditor5-ckbox';

ClassicEditor
    .create( document.querySelector( '#editor' ), {
        plugins: [ CKBox, /* ... */ ],
        toolbar: [ 'ckbox', /* ... */ ],
        ckbox: {
            defaultUploadCategories: {
                Bitmaps: [ 'bmp' ],
                Pictures: [ 'jpg', 'jpeg' ],
                Scans: [ 'png', 'tiff' ],
                // The category below is referenced by its ID.
                'fdf2a647-b67f-4a6c-b692-5ba1dc1ed87b': [ 'gif' ]
            }
        }
    } )
    .then( /* ... */ )
    .catch( /* ... */ );


</script>



    {% endblock content %}
