{% extends 'base.html' %}
{% load static %}
{% load humanize assistant_tags %}

{% block head_title %} Contact Form Content {% endblock %}
{% block breadcrumb%}
<h2 class="text-title-md2 font-bold text-black dark:text-white flex flex-col items-start">
  Contact Form {{ id }}
</h2>
  <nav>
    <ol class="flex items-center gap-2">
      <li>
        <a class="font-medium" href="index.html">Dashboard /</a>
      </li>
      <li class="font-medium text-primary">Contact Form Details</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<span class="text-sm italic">
  Form Submission Details
</span>


<div class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
  <div class="max-w-full overflow-x-auto">
    <table class="w-full table-auto">
        <thead>
            <tr class="bg-gray-2 text-left dark:bg-meta-4">
                <th class="min-w-[80px] px-4 py-4 font-bold text-black dark:text-white xl:pl-11">S.N.</th>
                <th class="min-w-[220px] px-4 py-4 font-bold text-black dark:text-white xl:pl-11" title="Who submitted the form">User</th>
                <th class="min-w-[220px] px-4 py-4 font-bold text-black dark:text-white xl:pl-11">Form Contents</th>
                <th class="min-w-[220px] px-4 py-4 font-bold text-black dark:text-white xl:pl-11">User's IP Address</th>
                <th class="min-w-[150px] px-4 py-4 font-bold text-black dark:text-white">Submission Date</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for content in object_list %}
            <tr>
                <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                    <h5 class="font-medium text-black dark:text-white overflow-hidden overflow-ellipsis whitespace-normal break-words max-w-full">
                      {{ forloop.counter }}
                    </h5>
                </td>
                <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                    <h5 class="font-medium text-black dark:text-white overflow-hidden overflow-ellipsis whitespace-normal break-words max-w-full">
                        {{ content.user }}
                    </h5>
                </td>
                <!-- <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                    <h5 class="font-medium text-black dark:text-white">
                        {% with form_data=content.form_content|json_tag %}
                        {% for key, value in form_data.items %}
                        {% if key != 'form' %}
                        {{ key|title }}: {{ value }}
                        <br>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </h5>
                </td> -->
                <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-gray-700 xl:pl-11">
                  <span x-data="{ showFull: false }">
                      <h5 class="font-medium text-black dark:text-white">
                          {% with form_data=content.form_content|json_tag %}
                          <span x-show="!showFull">
                              {% for key, value in form_data.items %}
                              {% if key != 'form' %}
                              <strong>{{ key|title }}:</strong> {{ value|get_first_n_words:4 }}<br>
                              {% endif %}
                              {% endfor %}
                          </span>
                          <span x-show="showFull" x-cloak>
                              {% for key, value in form_data.items %}
                              {% if key != 'form' %}
                              <strong>{{ key|title }}:</strong> {{ value }}<br>
                              {% endif %}
                              {% endfor %}
                          </span>
                          {% endwith %}
                      </h5>
                      
                      {% if content.form_content|length > 200 %}
                    
                      <button @click="showFull = !showFull" class="text-blue-500 underline focus:outline-none mt-2">
                          <span x-show="!showFull">View More</span>
                          <span x-show="showFull">View Less</span>
                      </button>
                      {% endif %}
                  </span>
              </td>
                <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                    <h5 class="font-medium text-black dark:text-white overflow-hidden overflow-ellipsis whitespace-normal break-words max-w-full">
                        {% if content.ip_address %}
                        {{ content.ip_address }}
                        {% else %}
                        __
                        {% endif %}
                    </h5>
                </td>
                <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                    <h5 class="font-medium text-black dark:text-white">{{ content.created_dt}}</h5>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="text-center border-b border-[#eee] py-5 dark:border-strokedark">
                    <p class="font-medium text-gray-500 dark:text-gray-300">No Form Content Found .</p>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
    {% if object_list %}
    <div class="flex items-center justify-end">
      <nav aria-label="Page navigation example">
        <ul class="list-style-none flex">
          {% if page_obj.has_previous %}
          <li class="flex items-center">
            <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
              href="?page={{ page_obj.previous_page_number }}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="w-4 h-4 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
              </svg>
              Previous
            </a>
          </li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
          <li>
            <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm {% if page_obj.number == i %}text-primary-700 dark:text-primary-500{% else %}text-surface{% endif %} transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
              href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="flex items-center">
            <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
              href="?page={{ page_obj.next_page_number }}">
              Next
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="w-4 h-4 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
              </svg>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
   
      
   {% endif %}
  </div>

 

{% endblock content%}