{% extends 'base.html' %}
{% load static %}

{% block head_title %} Create Form {% endblock %}
{% block breadcrumb%}
<h2 class="text-title-md2 font-bold text-black dark:text-white">
    Create Contact Form 
  </h2>

  <nav>
    <ol class="flex items-center gap-2">
      <li>
        <a class="font-medium" href="index.html">Dashboard /</a>
      </li>
      <li class="font-medium text-primary">Create Contact Form </li>
    </ol>
  </nav>
{% endblock %}
{% block content %}
<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="flex flex-wrap items-center">
        <div class="w-full border-stroke dark:border-strokedark">
            <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
                <form method="post" class="w-full mb-8">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="mb-5">
                        {% for error in form.non_field_errors %}
                        <div class="text-red-500">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="mb-6">
                        <label class="mb-2.5 block font-medium text-black dark:text-white">Form HTML</label>
                        <span class="text-sm italic">Exclude the form tag. Enter the html for fields only</span>
                        <div class="relative">
                            {{ form.form_html }}
                            {% if form.form_html.errors %}
                            <div class="absolute right-4 top-4 text-red-500">
                                <div class="text-danger">{{ form.form_html.errors }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="mb-2.5 block font-medium text-black dark:text-white">Message</label>
                        <div class="relative">
                            {{ form.message }}
                            {% if form.message.errors %}
                            <div class="absolute right-4 top-4 text-red-500">
                                <div class="text-danger">{{ form.message.errors }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-6 flex flex-wrap">
                        <div class="w-full sm:w-1/2 mb-4 sm:mb-0 pr-0 sm:pr-4">
                            <label class="mb-2.5 block font-medium text-black dark:text-white">Subject</label>
                            <div class="relative">
                                {{ form.subject }}
                                {% if form.subject.errors %}
                                <div class="absolute right-4 top-4 text-red-500">
                                    <div class="text-danger">{{ form.subject.errors }}</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2 pl-0 sm:pl-4">
                            <label class="mb-2.5 block font-medium text-black dark:text-white">To sent</label>
                            <div class="relative">
                                {{ form.to_sent }}
                                {% if form.to_sent.errors %}
                                <div class="absolute right-4 top-4 text-red-500">
                                    <div class="text-danger">{{ form.to_sent.errors }}</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        <input type="submit" value="Create Form" class="inline-block px-8 py-4 rounded-lg border border-primary bg-primary text-white font-medium transition hover:bg-opacity-90" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock content %}