{% extends 'base.html' %}
{% load static   %}
{% load assistant_tags %}
{% load humanize %}

{% block head_title %} Thank You {% endblock %}

{% block content %}


<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Thank you for contacting us!
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            We will reach back at you shortly.
        </p>
    </div>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <div class="mt-6">
                <p class="text-sm text-center text-gray-600">
                    You can <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">contact us at phone</a> if you have any urgent questions or concerns.
                </p>
            </div>
        </div>
    </div>
</div>


    {% endblock content %}
