{% extends 'base.html' %}
{% load static %}
{% load assistant_tags %}

{% block head_title %} Edit {% endblock %}
{% block breadcrumb %}

<h2 class="text-title-md2 font-bold text-black dark:text-white">
    Update
</h2>

<nav>
    <ol class="flex items-center gap-2">
        <li>
            <a class="font-medium" href="{% url 'create_form' %}">Contact Form /</a>
        </li>
        <li class="font-medium text-primary">Edit</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<!-- ====== Content Section starts -->

<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="w-full border-stroke dark:border-strokedark">
        <div class="w-full">
            <div class="flex gap-16">
                
                <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
                    <form method="post" class="w-full mb-8">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="mb-5">
                            {% for error in form.non_field_errors %}
                            <div class="text-red-500">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="mb-6">
                            <label class="font-semibold leading-6 text-gray-900 flex items-center">
                                Form Html
                             </label>
                            <span class="text-sm italic">Exclude the form tag. Enter the html for fields only</span>
                            <div class="relative">
                                {{ form.form_html }}
                            </div>
                        </div>
                        <div class="mb-6">
                            <label class="font-semibold leading-6 text-gray-900 flex items-center">
                                Message
                             </label>                            
                             <div class="relative">
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="mb-6 flex flex-wrap">
                            <div class="w-full sm:w-1/2 mb-4 sm:mb-0 pr-0 sm:pr-4">
                                <label class="font-semibold leading-6 text-gray-900 flex items-center">
                                   Subject
                                 </label>
                                <div class="relative">
                                    {{ form.subject }}
                                   
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 pl-0 sm:pl-4">
                                <label class="font-semibold leading-6 text-gray-900 flex items-center">
                                   To Sent
                                 </label>                                
                                 <div class="relative">
                                    {{ form.to_sent }}
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="flex justify-end">
                            <button type="submit" class="px-4 py-2 rounded-lg border border-primary bg-primary font-medium text-white transition hover:bg-opacity-90">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>

 
<!-- ====== Content Section end -->






{% endblock content %}
