{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog.ai | {% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">

    <script type="module" src="{% static 'dist/bundle.js' %}"></script> 
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" ></script> {% endcomment %}
    <!-- Alpine Plugins -->
    {% comment %} <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
</head>
<body
x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
x-init="
     darkMode = JSON.parse(localStorage.getItem('darkMode'));
     $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
:class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

<!-- <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-32">  -->
    {% block content %}{% endblock %}
<!-- </div> -->
    
</body>
</html>
