{% extends 'base.html' %}
{% load static   %}
{% load assistant_tags %}

{% block head_title %} Details {% endblock %}
{% block breadcrumb%}

<h2 class="text-title-md2 font-bold text-black dark:text-white">
    <!-- Details --> {{ blog.history.title }}
    
</h2>

<nav>
    <ol class="flex items-center gap-2">
        <li>
            <a class="font-medium" href="{% url 'generate_blog' %}">Blog /</a>
        </li>
        <li class="font-medium text-primary">Details</li>
    </ol>
</nav>
{% endblock%}
{% block content %}

<!-- ====== Content Section starts -->

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="w-full border-stroke dark:border-strokedark">
            <div class="w-full p-4">
                <div class="flex gap-16">
                    <!-- Left side with your content -->
                    <div class="w-full">
                    
                    {% if blog.featured_image %}
                    <div class="relative z-20 h-35 md:h-65">
                        <img
                          src="{{blog.featured_image.url}}"
                          class="h-full w-full rounded-tl-sm rounded-tr-sm object-cover object-center"
                        />
                      </div>
                      {% endif %}
                        <div>
                            <!-- Your content goes here -->
                         
                            {{ body_shortcodes  |safe }}

                            
                          
                            
                          

                            
                           
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ history.id }}">

                            <div class="flex justify-between items-center">
                                <div class="flex items-center gap-2">
                                    <!-- {% if item.has_blog %}
                                        <input type="submit" value="Update"
                                            class="px-4 py-2 rounded-lg border border-primary bg-primary font-medium text-white transition hover:bg-opacity-90" />
                                        
                                       
                                    {% else %}
                                        <input type="submit" value="Save"
                                            class="px-4 py-2 rounded-lg border border-primary bg-primary font-medium text-white transition hover:bg-opacity-90" />
                                    {% endif %} -->
                                </div>
                               

                                <a href="{% url 'blog-edit' blog.slug %}">
                                    <input type="button" value="Edit"
                                        class="px-4 py-2 rounded-lg border border-secondary bg-secondary font-medium text-white transition hover:bg-opacity-90" />
                                </a>
                            </div>
                        </form>
                    </div>
    
                   
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
   
<!-- ====== Content Section end -->


{% endblock content %}