{% extends 'base.html' %}
{% load static %}

{% block head_title %} Delete {% endblock %}

{% block content %}



<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  
    <div class="w-full border-stroke dark:border-strokedark">
        <div class="w-full p-4">
           
            <div class="flex gap-16">
                <div class="w-8/12">
                  
                    <form method="post" id="blogForm">
                        {% csrf_token %}


                        <div class="mb-4">

                            <div class="relative">
                                <p>Are you sure you want to delete the Blog <strong>"{{ object }}"</strong>?</p>
                            </div>
                        </div>


                        <div class="flex">
                          <input type="submit" value="Delete"
                              class="px-4 py-2 rounded-lg border border-danger bg-danger font-medium text-white transition hover:bg-opacity-90 mr-4" />
                      </div>
                    </form>
                </div>



            </div>

    </div>
{% endblock content %}