{% extends 'base.html' %}
{% load static   %}
{% load assistant_tags %}

{% block head_title %} Edit  {% endblock %}
{% block breadcrumb%}

<h2 class="text-title-md2 font-bold text-black dark:text-white">
    Update
</h2>

<nav>
    <ol class="flex items-center gap-2">
        <li>
            <a class="font-medium" href="{% url 'generate_blog' %}">Blog /</a>
        </li>
        <li class="font-medium text-primary">Edit</li>
    </ol>
</nav>
{% endblock%}
{% block content %}

<!-- ====== Content Section starts -->

    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
        <div class="w-full border-stroke dark:border-strokedark">
            <div class="w-full p-4">
                <div class="flex gap-16">
                    <div class="w-full">
                       
    
                      
                            <form method="post" class="px-3" novalidate>{% csrf_token %}
                                {{ form.media }}
                                {{ form.body }}
                                 <div class="flex items-center gap-2">
                                    <input type="submit" value="Update"
                                            class="px-4 py-2 rounded-lg border border-primary bg-primary font-medium text-white transition hover:bg-opacity-90" />
                                        </div>

                                 
                             </form> 
                            
                      
                    </div>
    
                   
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
<!-- ====== Content Section end -->
{% endblock content %}