{% extends 'base.html' %}
{% load static %}

{% block head_title %} Password {% endblock %}

{% block content %}



<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  
    <div class="w-full border-stroke dark:border-strokedark">
        <div class="w-full p-4">
           
            <div class="flex gap-16">
                <div class="w-8/12">
                  
                    <form method="post" id="blogForm">
                        {% csrf_token %}


                        <div class="mb-4">

                            <div class="relative">
                                {{ form }}
                            </div>
                        </div>
                        {% if form.non_field_errors %}
                        <div class="mb-5">
                            {% for error in form.non_field_errors %}
                            <div class="text-danger">{{error}}</div>
                           
                            
                            {% endfor %}
                        </div>
                    {% endif %}

                        <div class="flex">
                          <input type="submit" value="Enter"
                              class="px-4 py-2 rounded-lg border border-danger bg-primary font-medium text-white transition hover:bg-opacity-90 mr-4" />
                      </div>
                    </form>
                </div>



            </div>

    </div>
{% endblock content %}