{% extends 'base.html' %}
{% load static %}
{% load humanize assistant_tags %}

{% block head_title %} Token History {% endblock %}
{% block breadcrumb%}
<h2 class="text-title-md2 font-bold text-black dark:text-white flex items-center">
  Token History  
  &nbsp;
  <div x-data="{ showTooltip: false }">
    <span class="relative cursor-pointer"
          @mouseenter="showTooltip = true"
          @mouseleave="showTooltip = false">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
          </svg>
          
        <div x-show="showTooltip" class="absolute z-10 bg-graydark text-white  shadow-md p-4 w-60 h-auto max-h-48 overflow-y-auto mt-2 rounded">
            <p class="text-xs">
                Token consumption for input and output
            </p>
        </div>
    </span>
</div>
  
</h2>


  <nav>
    <ol class="flex items-center gap-2">
      <li>
        <a class="font-medium" href="index.html">Dashboard /</a>
      </li>
      <li class="font-medium text-primary">Token History</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

  <!-- <div
  class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
  <div class="max-w-full overflow-x-auto">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-2 text-left dark:bg-meta-4">
          <th
            class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11"
          >
            Date
          </th>
          <th
            class="min-w-[150px] px-4 py-4 font-medium text-black dark:text-white"
          >
            Input Token 
          </th>
          <th
            class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white"
          >
            Output Token
          </th>
          <th class="px-4 py-4 font-medium text-black dark:text-white">
            Model
          </th>
          <th class="px-4 py-4 font-medium text-black dark:text-white">
            No. of Image generated 
          </th>
         
          
        </tr>
      </thead>
      <tbody>
        {% for token in object_list %}
        <tr>
          <td
            class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11"
          >
            <h5 class="font-medium text-black dark:text-white">{{ token.created_dt | naturalday  }}</h5>
            
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">{{ token.input_token }}</p>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">{{ token.output_token }}</p>
          </td>
        
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">{{ token.model }}</p>
          </td>
          <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
            <p class="text-black dark:text-white">{{ token.image }}</p>
          </td>
          
         
        </tr>
        {% endfor %}
       
      </tbody>
      
    </table>
   
  
  </div>
  <div class="flex items-center justify-end">
    <nav aria-label="Page navigation example">
      <ul class="list-style-none flex">
        {% if page_obj.has_previous %}
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
              aria-hidden="true" class="w-4 h-4 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          <a
            class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
            href="?page={{ page_obj.previous_page_number }}"
          >Previous</a>
        </li>
        
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          <li>
            <a
              class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
              href="?page={{ i }}"
            >{{ i }}</a
            >
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="flex items-center">
          <a
            class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
            href="?page={{ page_obj.next_page_number }}"
          >Next</a>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          aria-hidden="true" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
        </svg>
        </li>
        
        
        {% endif %}
      </ul>
    </nav>
  </div>

  
</div> -->


<!-- component -->

<div class="flex justify-between items-center mb-4">
  <div>
    <div class="font-semibold text-black  dark:text-white">Total Input Tokens Used = 
      <span >{{ latest_total_input_tokens }}</span>
    </div>
    <div class="font-semibold text-black  dark:text-white">Total Output Tokens Used = 
      <span>{{ latest_total_output_tokens }}</span>
    </div>
  </div>
  <div>
    <div class="font-semibold text-black  dark:text-white"> Total Image Generated = 
      <span>{{latest_total_images}}</span>
    </div>
  </div>
</div>





<div class="overflow-hidden rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 dark:border-strokedark dark:bg-boxdark">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">Date</th>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">Input Token</th>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">Output Token</th>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">Model</th>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">No. of images</th>
        <th scope="col" class="px-6 py-4 font-bold text-black  dark:text-white">Used by</th>

      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      {% for token in object_list %}
      
      <tr class="hover:bg-gray-50">
        <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
          <div class="text-sm">
            
            <div class="font-medium text-gray-700"> <strong>{{ token.created_dt | naturalday | title }} </strong></div> 
            <div class="text-gray-400">{{ token.created_dt | time:"g:i a" }} </div>
          </div>
        </th>
        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full px-2 py-1  "
          >
            {{ token.input_token}}
          </span>
          
        </td>
        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-fullpx-2 py-1  "
          >
            {{ token.output_token}}
          </span>
          
        </td>
        <td class="px-6 py-4">
          <span
          class="inline-flex items-center gap-1 rounded-full px-2 py-1   justify-center"
        >
          {{token.model}}
        </span>
        </td>

        <td class="px-6 py-4">
          <span
              class="inline-flex items-center gap-1 rounded-full px-2 py-1"
            >
              {{token.image}}
            </span>
        </td>
        
        
        <td class="px-6 py-4">
          {% if token.content_object.title.id %}
          <a href="{% url 'details' token.content_object.title.id %}">
          <span
              class="inline-flex items-center gap-1 rounded-fullpx-2 py-1  "
            >
            {{ token.content_object }}
            </span>
          </a>
          {% endif %}
        </td>
        
       
          
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

  <div class="flex items-center justify-end">
    <nav aria-label="Page navigation example">
      <ul class="list-style-none flex">
        {% if page_obj.has_previous %}
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
              aria-hidden="true" class="w-4 h-4 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          <a
            class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
            href="?page={{ page_obj.previous_page_number }}"
          >Previous</a>
        </li>
        
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          <li>
            <a
              class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
              href="?page={{ i }}"
            >{{ i }}</a
            >
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="flex items-center">
          <a
            class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
            href="?page={{ page_obj.next_page_number }}"
          >Next</a>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          aria-hidden="true" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
        </svg>
        </li>
        
        
        {% endif %}
      </ul>
    </nav>
  </div>

</div>


{% endblock content%}